@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&display=swap');

:root{      
  --primary_color: #FF6347;  
  --backgroundColor: #ffffff;
  --white:#fff;
  --black:#000;
  --lightGray:#878788;
  --font_weight_bold:900;
  --font_weight_medium:700;
  --font_weight_regular:500;
  --font_family:'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: var(--font_family);
  overflow-x: hidden;
}
body{
  background-color: var(--primary_color);
}
/* Sidebar */
.sidepart{
  width: 20%;
  height: 100vh;  
  position: fixed;
  left: 0;  
  background: var(--white);
  color:var(--black);  
  transition: all .7s;
  z-index: 11;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.sidepart.active{
  margin-left: -16%;
}

.img-profile{
  height: 7rem;
  width: 7rem;
  background-image: url(./images/Black.png);  
  background-size: cover;      
  border-radius: 50%;
  margin: 22% auto 7% auto;
  display: block;    
}
.name{  
  text-align: center;
  margin-top: 2%;  
  overflow: hidden;  
  font-size: 1.2rem;
}
.work{
  text-align: center;
  font-weight: 500;
  margin-top: -3%;
  font-size: 0.9rem;
  color: var(--lightGray);
}
.sidebar{
  display: flex;  
  flex-direction: column;  
  left: 0; 
  position: absolute; 
  width: 100%;        
  /* text-align: center; */
  /* text-align: center;     */
} 
.sidebar img{  
  height: 1.5rem;
  width: 1.5rem;
  float: right; 
  z-index: 11; 
  overflow: hidden;  
  margin-top: 3.7%;      
}

.sidebar .sidebar-item{  
  margin-top: 7%;  
  min-width: 100%;
  font-size: 1rem;  
  font-weight: var(--font_weight_regular);   
  text-decoration: none;
  line-height: 2.5rem;
  transition: 0.6s;
  color: var(--black);        
  text-decoration: none;
  letter-spacing: 1px;  
  padding: 0 5% 0 5%;      
}
.sidebar .sidebar-item:hover{  
  color: var(--primary_color);
  width: 100%;      
}
.sidebar .sidebar-item.active2{  
  color: var(--primary_color);  
  background: #FFE6CC;
  border-right:3px solid var(--primary_color);
}
.fa-bars{
  color: var(--black);
  float: right;
  font-size: 1.4rem;
  margin-top: 5%;  
  z-index: 13;    
  padding-right: 6%;
  overflow: hidden;    
}
.fa-close{
  color: var(--black);
  float: right;
  font-size: 1.4rem;
  margin-top: 5%;  
  z-index: 13;
  padding-right: 6%;     
  overflow: hidden;     
}

/* text animation */


/* home page */
.container-home{
  width: 96%;  
  right: 0;
  height: 100vh;     
  position: absolute;
  background-image: url(./images/home.jpg);
  background-size: cover;
  transition: all .7s;    
}
.container-home .overlay{  
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2px;  
  padding: 0% 10% 0% 10%;             
  background: rgba(0, 0, 0, 0.6)
}
.container-home .overlay .content{ 
  color: var(--white);   
  z-index: 1;  
  text-align: center;
}
.container-home .overlay .content h3{  
  font-size: 7rem;  
  overflow: hidden;  
  text-transform: uppercase;
  background: var(--primary_color);
  opacity: 0.7;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;        
  font-weight: bold;  
  background-size: cover;
}
.container-home Button{
  border-radius: 30px;  
  background-color: transparent;
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
  padding: 1% 3% 1% 3%;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.container-home Button:hover{  
  color: var(--background);
  background-color: var(--primary_color);

}
.container-home .overlay .content h1{
  overflow: hidden;  
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.container-home .overlay .content .seco{
  font-size: 1.5rem;  
  letter-spacing: 3px;
  font-weight: 600;  
}
.container-home .overlay .content .thir{  
  text-align: justify;
  font-weight: 500;
}

/* Heading */
.container-1{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;    
  color: var(--black);  
}
.container-1 h3{
  overflow: hidden;  
  font-weight: 580;
}
.container-1 .line{  
  height: 2px;
  width: 4rem;  
  background-color: var(--primary_color);
  margin-left: auto;
  margin-right: auto;
}
.container-1 p{
  margin-top: 2%;
  font-size: 0.9rem;
}
/* services */
.container-service{
  width: 96%;  
  height: 100vh;            
  right: 0;  
  position: fixed;  
  transition: all .7s;  
  padding: 0%;
  background: var(--backgroundColor);
}
.fa-desktop{
  font-size: 3.5rem;
  text-align: center;
  color: var(--primary_color);
}
.fa-mobile{
  font-size: 3.5rem;
  text-align: center;
  color: var(--primary_color);
}
.fa-code{
  font-size: 3.5rem;
  text-align: center;
  color: var(--primary_color);
}
.container-service .card{  
  height: 18.5rem;
  padding-top: 10%;
  text-align: center;  
  margin-top: 20%;     
  border: none;   
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 2%;
  border-radius: 5%;  
}
.container-service .card h4{
  padding-top: 10%;  
  overflow-y: hidden;  
  /* line-height: 2rem; */
}
.container-service .card p{
  text-align: center;
}


/* about */
.container-about{
  width: 96%;  
  height: 100vh;  
  padding-left: 2%;           
  right: 0;
  position: absolute;  
  transition: all .7s;  
  background: var(--backgroundColor);
}
.container-about .left{
  margin-top: 2%;          
}
.container-about .right{
  margin-top: 8%;  
  width: 10rem;  
  height: 100%;
  padding: 2% 5% 2% 2%;
}
.container-about .right h4{
  font-size: 1.1rem;
  color: var(--primary_color);   
  height: 1.4rem; 
}

/* skills */
.container-skill{
  width: 96%;      
  height: 100vh;  
  right: 0px;
  position: absolute;
  transition: 0.7s all;   
  background: var(--backgroundColor); 
}
.container-skill .row{
  margin-top: 5%;  
}
.container-skill .left{
  padding: 1% 7% 0% 5%;
}
.container-skill .left .title{
  color: var(--primary_color);
  font-weight: 500;  
}
.container-skill .left h3{
  overflow: hidden;  
  font-size: 2rem;
  font-weight: 700;
}
.container-skill .left .inn-content{  
  font-size: 1.1rem;
  font-weight: 500;
}
.container-skill .left Button{
  border:2px solid var(--primary_color);
  border-radius: 30px;
  color: var(--primary_color);
  font-weight: 500;
  padding: 2% 5% 2% 5%;
  letter-spacing: 1px;
}
.container-skill .left Button:hover{
  background-color: var(--primary_color);
  color: #fff;
}
.container-skill.right{
  display: flex;  
  flex-direction: column;
}
.container-skill .right label{
  font-size: 1.1rem;
  margin-left: 5%;
  font-weight: 500;
  letter-spacing: 2px;
}
.container-skill .right .progress{
  background-color: var(--white);
  color: var(--white);
  height: 2rem;  
  border-radius: 1rem;
  width: 22rem;  
  margin-top: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.container-skill .right .progress .progress-inn{
  background-color: var(--primary_color);
  width: 0%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;    
}
.container-skill .right label{
  margin-top: 5%;
  text-decoration: underline;
  font-weight: 700;
}

/* portfolio */
.container-portfolio{
  width: 96%;
  height: 100vh;
  right: 0;
  position: absolute; 
  background: var(--backgroundColor);   
}

/* contact */
.container-contact{
  width: 96%;
  height: 100vh;
  right: 0;
  position: absolute;
  transition: .7s;
  background: var(--backgroundColor);
}
.container-contact .container{
  padding: 2% 5%;
}
.container-contact .container Label{
  overflow: hidden;  
  font-weight: var(--font_weight_regular);
}
.container-contact .container input{
  height: 2.4em;
  width: 90%;
  margin-bottom: 3%;  
  padding-left: 2%;    
  border-top: none; 
  border-left: none;
  border-bottom: none;
  border-right: 3px solid var(--primary_color);
  outline: none;  
  border-radius: 0.5em ;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container-contact .container textarea{  
  padding-left: 2%;
  padding-top: 1%;
  outline: none;
  width: 90%;
}
.container-contact .container .right{
  padding: 0 0 0 8%;
}
.container-contact .container .detail{
    font-size: 1.2rem;    
    padding-top: 5%;    
}
.container-contact .container .detail .row{
  padding-bottom: 5%;
}
.container-contact .container .account .git,.twitt,.insta{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  color: var(--primary_color);
  margin-top: 8%;
  margin-right: 21%;
  border: 2px solid var(--primary_color);
  transition: .5s;
}
.container-contact .container .account .insta:hover{
  background: var(--primary_color);
  cursor: pointer;
  color: var(--white);
}
.container-contact .container .account .twitt:hover{
  background: var(--primary_color);
  cursor: pointer;
  color: var(--white);
}
.container-contact .container .account .git:hover{
  background: var(--primary_color);
  cursor: pointer;
  color: var(--white);
}
.container-contact .container .account{
  font-size: 1.5rem;
}
.container-contact .btn{
  width: 10rem;
  border:2px solid var(--primary_color);
  color: var(--primary_color);
  border-radius: 20px;
  margin-top: 2%;
}
.container-contact .btn:hover{
  background-color: var(--primary_color);
  color: var(--white);  
}

